# Apache configuration fragment for the C-Pod server
#
<Directory "<%= node[:cpod][:datadir] %>/">
    Options Includes Indexes FollowSymLinks
    AllowOverride None
    <% if node['apache']['version'] != "2.4" -%>
    Order deny,allow
    Deny from all
    <% else -%>
    Require all granted
    <% end -%>
</Directory>

<Directory "<%= node[:cpod][:repodir] %>/www">
    Options Includes Indexes FollowSymLinks
    IndexIgnore .htaccess *.bak *~ RCS
    IndexOptions FancyIndexing FoldersFirst
    AllowOverride None
    <% if node['apache']['version'] != "2.4" -%>
    Order allow,deny
    Allow from all
    <% else -%>
    Require all granted
    <% end -%>
</Directory>

<Directory "<%= node[:cpod][:repodir] %>/bin/">
    Options +ExecCGI
    SetHandler cgi-script
    AllowOverride None
    <% if node['apache']['version'] != "2.4" -%>
    Order allow,deny
    Allow from all
    <% else -%>
    Require all granted
    <% end -%>
</Directory>

ServerName <%= require 'uri'; URI(node[:cpod][:url]).hostname %>

<VirtualHost *:80>

    ScriptAlias /bin/ "<%= node[:cpod][:repodir] %>/bin/"

    Alias /downloads/ "<%= node[:cpod][:datadir] %>/downloads/"
    Alias /gem_repo/ "<%= node[:cpod][:datadir] %>/gem_repo/"
    Alias /osmirror/ "<%= node[:cpod][:datadir] %>/osmirror/"
    Alias /yum_repos/ "<%= node[:cpod][:datadir] %>/yum_repos/"
    Alias /gems/ "<%= node[:cpod][:datadir] %>/gem_repo/gems/"

    Alias /cpod.pac "<%= node[:cpod][:datadir] %>/cpod.pac"
    Alias /cpod.json "<%= node[:cpod][:datadir] %>/cpod.json"

    IndexIgnore .htaccess *.bak *~ RCS
    DocumentRoot <%= node[:cpod][:repodir] %>/www
    ErrorLog <%= node['apache']['log_dir'] %>/c-pod_error_log
    CustomLog <%= node['apache']['log_dir'] %>/c-pod_access_log combined
    AddType text/plain .ks .seed
    AddType application/x-ns-proxy-autoconfig .pac
    AddHandler server-parsed .ks .seed .html .pac
    <Location /samples/>
	ForceType text/plain
	SetHandler server-parsed
    </Location>
    Action markdown /bin/markdown.cgi
    AddHandler markdown .md

</VirtualHost>

# vim: sts=4 sw=4 ts=8:
