{
    "cpod": {
        "url": "<%= node[:cpod][:url] %>",
        "datadir": "<%= node[:cpod][:datadir] %>",
        "repodir": "<%= node[:cpod][:repodir] %>"
    },
    "run_list": [ "recipe[c-pod::repo_host]" ]
}
