# Dante Socks server config for C-Pod server
# This is for version 1.3 (CentOS)
<%- @public_ifs.each do |iface| -%>
# Public interface: <%= iface %>
<%- end -%>
# Private interface: <%= @private_if %>
# <% interfaces = node[:network][:interfaces] %>
logoutput: syslog/daemon
<%- @public_ifs.each do |iface| -%>
internal: <%= iface %> port = 1080
<%- end -%>
external: <%= @private_if %>
socksmethod: none
timeout.io: 0

# Let in all the private addresses
#
<%- @public_ifs.each do |iface| -%>
client pass {
        from: 10.0.0.0/8 port 1-65535 to: <%= iface %>
}
client pass {
        from: 172.16.0.0/12 to: <%= iface %>
}
client pass {
        from: 192.168.0.0/16 to: <%= iface %>
}
<%- end -%>
# Record everyone else and fail them
#
client block {
        from: 0.0.0.0/0 to: 0.0.0.0/0
        log: connect error
}
# Allow them to go to the private network
#
socks pass {
        from: 0.0.0.0/0 to: <%= cidr @private_if, interfaces %>
        log: connect disconnect
        protocol: tcp udp
}
socks block {
        from: 0.0.0.0/0 to: 0.0.0.0/0
        log: connect
}
