# Default chef-solo config for a C-Pod server
#
cookbook_path ['<%= node[:cpod][:repodir] %>/chef/cookbooks','<%= node[:cpod][:datadir]%>/cookbooks']
json_attribs  '/etc/chef/cpod.json'
verify_api_cert true

# Let the remaining paths default (/var/chef)
root = '/var/chef'
data_bag_path       root + '/databags'
environment_path    root + '/environments'
file_backup_path    root + '/backup'
file_cache_path     root + '/cache'
node_path           root + '/node'
role_path           root + '/roles'
