# Dante Socks server config for C-Pod server
# This is for version 1.19 (Ubuntu)
<%- @public_ifs.each do |iface| -%>
# Public interface: <%= iface %>
<%- end -%>
# Private interface: <%= @private_if %>
# <% interfaces = node[:network][:interfaces] %>
logoutput: /var/log/sockd.log
<%- @public_ifs.each do |iface| -%>
internal: <%= if_addr4 iface, interfaces %> port = 1080
<%- end -%>
external: <%= if_addr4 @private_if, interfaces %>
method: none
iotimeout: 0

# Let in all the private addresses
#
<%- @public_ifs.each do |iface| -%>
client pass {
  from: 10.0.0.0/8 port 1-65535 to: <%= cidr iface, interfaces %>
}
client pass {
  from: 172.16.0.0/12 to: <%= cidr iface, interfaces %>
}
client pass {
  from: 192.168.0.0/16 to: <%= cidr iface, interfaces %>
}
<%- end -%>
# Record everyone else and fail them
#
client block {
  from: 0.0.0.0/0 to: 0.0.0.0/0
  log: connect error
}
# Allow them to go to the private network
#
pass {
  from: 0.0.0.0/0 to: <%= cidr @private_if, interfaces %>
  log: connect disconnect
  protocol: tcp udp
}
block {
  from: 0.0.0.0/0 to: 0.0.0.0/0
  log: connect
}
